*{
  background-color: black;
  color: white;
}
#bars{
  padding-left: 10px;
}
#help{
  padding-right: 10px;
}
#stats{
  padding-right: 10px;
}
#head{
  display: inline-block;
  padding-left: 490px;
  padding-right: 340px;
}
header.App-header{
  border-bottom: solid;
}
div#keyboard{
  position: absolute;
  left: 485px;
  top: 600px;
  margin-top: 10px;
}
button{
  width: 50px;
  height: 60px;
  margin-bottom: 2px;
  border-radius: 4px;
}
.header_btns{
  background-color: black;
  margin: 0px;
  width: 40px;
  height: 30px;
  outline: none;
}
#A{
  margin-left: 30px;
}
#back{
  background-color: grey;
}
#Backspace{
  width: 70px;
}
#Enter{
  width: 80px;
}
.squares{
    width: 64px;
    height: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: var(--tile-text-color);
    text-transform: uppercase;
    margin: 3px;
    border: solid;
    border-color: #393a3c;
}
div#game{
  padding-left: 430px;
  padding-right: 300px;
}
div#gameResult{
  display: inline-block;
  color: black;
  background-color: white;
  padding: 2px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  margin-left: 175px;
  margin-top: 10px;
  margin-bottom: 10px;
}
div.board-row{
  padding-left: 130px;
}
#logField{
  margin-left: 25px;
  margin-right: 5px;
  margin-top: 5px;
  color: black;
  background-color: white;
}
#logPassField{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  color: black;
  background-color: white;
}
#regField{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  color: black;
  background-color: white;
}
#regPassField{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  color: black;
  background-color: white;
}
#regSubmit{
  background-color: #b4a03a;
}
#logSubmit{
  background-color: #548c4e;
}
#logOut{
  background-color: #393a3c;
  position: absolute;
  top: 85px;
  height: 50px;
  margin-left: 5px;
}
#regForm{
  display: inline-block;
}
#logForm{
  display: inline-block;
}
#getStats{
  height: 30px;
  margin-left: 5px;
  background-color: #808384;
  margin-top: 5px;
}
div#stats{
  position: absolute;
  left: 50px;
}